<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
    <head>
        <link rel="stylesheet" href='/webjars/bootstrap/4.3.1/css/bootstrap.css'>
        <title>Eventhost</title>
    </head>

    <body class="text-center h-100" style="background-image: url('/img/background.jpg');">
        <header th:insert="fragments/navigation.html :: navigation"> </header>

        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
            <header class="masthead mb-auto"></header>
            <main role="main" class="inner cover">
                <h1 class="display-4 pt-md-5 pt-5">Manage your big things.</h1>
                <hr class="hr-light my-4 w-50">
                <p class="lead">
                    An event planner for every occasion. A convenient and simple way to keep up to date. <br>
                    Entrust your schedule to us. We won't sell your data so don't worry.
                </p>
                <img src="/img/calendar.png" th:src="@{/img/calendar.png}" class="img-fluid" alt="image not found"/>
            </main>
            <footer class="mastfoot mt-auto"></footer>
        </div>

        <script src='/webjars/jquery/1.9.1/jquery.min.js'></script>
        <script src='/webjars/bootstrap/4.3.1/js/bootstrap.min.js'></script>
    </body>
</html>