<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Eventhost: Login</title>
        <link rel="stylesheet" href='/webjars/bootstrap/4.3.1/css/bootstrap.css'>
    </head>

    <body>

        <header th:insert="fragments/navigation.html :: navigation"> </header>
        <hr>

        <div class="container">
            <a class="btn btn-warning btn-lg" href="/user/signup" th:align="center">Register</a>

            <h1>Login Form</h1>

            <p th:if="${loginError}" class="error"> Wrong user or password </p>
            <form th:action="@{/j_spring_security_check}" method="post">
                <label for="username">Username</label>:
                <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
                <label for="password">Password</label>:
                <input type="password" id="password" name="password" /> <br />
                <input type="submit" value="Log in" />
            </form>
        </div>

        <script src='/webjars/jquery/1.9.1/jquery.min.js'></script>
        <script src='/webjars/bootstrap/3.3.6/js/bootstrap.min.js'></script>

    </body>

</html>